.left{
  height: 100vh;
  width: 50%;
}
.hero-section {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  max-width: 1200px;
  margin: 0 auto; 
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
}

.hero-title {
  font-family: 'Inter';
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-weight: 800;
  line-height: 3.5rem;
}

.highlight{
  color: #34C759;
}

.hero-subtitle {
  color: #666;
  margin-bottom: 2rem;
}

.hero-text {
  max-width: 500px;
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cta-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
  margin-left: 80px;
}

.cta-button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cta-button.primary {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  background-color: #34C759;
  color: #fff;
  box-shadow: -2px 22px 38px 0px #8EFF9A80;
  border-radius: 40px;
}

.cta-button.primary:hover{
  border: 1px solid transparent;
}

.cta-container span{
  font-family: 'inter';
  line-height: 50px;
  color: #4D4D4D;
  font-weight: 600;
  font-size: 16px;
}

.cta-button.secondary {
  background-color: #fff;
  border-radius: 50%; 
  height: 45px;
  width: 45px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.cta-button.secondary img{
  height: 16px;
  width: 16px;
  margin-left: 4px;
}

.cta-button.secondary:hover{
  border: 1px solid transparent;
}

.image-container .overlay-image {
  width: 400px;
  height: 400px; 
}


.right{
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {  
  padding-top: 4rem;
  padding-left: 20px; 
  margin-top: 20rem;
  right: 0; 
  top: 50%; 
  transform: translateY(-50%);
}

#bg-circle {
  background-color: #34C759;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  position: relative;
}

.overlay-image {
  position: relative;
  bottom: 19%;
  right: 8%;
  object-fit: cover; 
  z-index: 1;
}

.image-container .overlay-image {
  width: 430px;
  height: auto;
}

.sideHero {
  height: 100px;
  z-index: 2; 
  position: absolute;
  top: 20%;
  left: 0%;
  transform: translate(-50%, -50%); 
}

.action-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  position: absolute; 
  top: 92%; 
  left: 2%; 
  width: 100%; 
  z-index: 1;   
}

.action-item {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: flex; 
  align-items: center;
  max-width: 48%;
}

.action-name{
  margin: 0;
  padding: 4px;
  font-size: 14px;
}

.action-price{
  margin: 0;
  font-size: 14px;
}

.action-rating{
  margin: 0;
  font-size: 14px;
}

.action-image {
  height: 60px;
  width: 60px;
  margin-left: 5px;
  border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  
 

  
  .container {
    padding: 20px 40px;
    font-size: 16px;
  }


  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-md-4 {
    flex-basis: 30%;
    margin: 10px;
  }

  
  .footer {
    padding: 30px 40px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }

 
  .header {
    padding: 20px 40px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-item {
    margin-right: 20px;
  }
}
  

@media (max-width : 767px) {
.hero-section {
  flex-direction: column;
  align-items: flex-start;
  padding: 6rem 0;
  width: 100%;
}

.hero-title{
  font-size: 4rem;
  line-height: 5rem;
  width: 100%;
}
.hero-text {
  max-width: 100%;
  margin-top: 20px;
  font-size: 2rem;
}
.cta-container {
  flex-direction: row;
  align-items: flex-start;
  margin-left: 25%;
  gap: 1rem;
}
.cta-button.primary{
  font-size: 1.8rem;
  width: 260px;
  padding: 20px 40px;
}
.cta-container span{
  padding-top: 20px;
  margin-left: 30px;
  font-size: 1.5rem;
}
.cta-button.secondary{
  height: 5rem;
  width: 5rem;
}
.cta-button.secondary img{
  height: 30px;
  width: 30px;
}
#bg-circle{
  height: 500px;
  width: 500px;
}
.overlay-image{
  bottom: 20%;
  
}
.image-container .overlay-image{
  width: 550px;
}
.sideHero{
  top: 30%;
  height: 250px;
  width: 400px;
}
.action-image{
  height: 110px;
  width: 110px;
  padding: 5px;
}
.action-container{
  display: flex;
  flex-direction: row;
}
.action-name{
  font-size: 22px;
}
.action-rating{
  font-size: 18px;
}
.action-price{
  font-size: 22px;
}
.action-item{
  padding: 5px 20px -1px 5px;
}
.left, .right {
  width: 100%;
  height: auto;
}
.right{
  margin-top: 2.5rem ;
}
}