.menu-categories {
  padding: 1rem 0;
  font-family: 'inter';
}

.menu-categories h2 {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.menu-categories h5 {
  font-size: 1rem;
  margin-bottom: -1.5rem;
  color: #FF6868;
}

.menu-categories .categories {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

.category {
  background-color: #fff;
  box-shadow: 2px 10px 30px 0px #0000001A;
  border-radius: 20px;
  padding: 20px 40px;
  width: 6.5rem;
  margin: 1rem;
}

.category-bg {
  height: 100px;
  width: 100px;
  background-color: #C1F1C6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.category img {
  width: 72px;
  height: 72px;
  text-align: center;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}

.category a {
  color: #272727;
}

.category a:hover {
  color: #272727;
}

.category p {
  margin-top: 0.2rem;
  color: #555555;
  font-size: 14px;
}


@media (min-width: 768px) and (max-width: 1199px) {
  .category {
    width: calc(30% - 3rem);
  }
}


@media (max-width: 767px) {
  .menu-categories {
    padding: 4rem 0; 
    margin-top: -15rem;
  }
  
.menu-categories h2{
  font-size: 4rem;
  }

.menu-categories h5{
  font-size: 2rem;
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 0; 
    gap: 1rem; 
  }

  .category {
    width: calc(50% - 1rem);
    height: 22rem;
    margin: 0.5rem; 
  }
  .category-bg{
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
  }
  .category img{
    height: 8rem;
    width: 8rem;
  }
  .category a{
    margin-right: 20px;
    font-size: 1.5rem;
  }
  .category p{
    display: inline-block;
    padding-top: 4rem;
    font-size: 1.5rem;
  }
}