.service-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-section {
  max-width: 50%;
  text-align: left;
  line-height: 50px;
}

.text-section h2 {
  color: #FF6868;
  font-size: 16px;
  margin-bottom: 10px;
}

.text-section h1 {
  color: #000;
  font-size: 36px;
  margin: 0;
}

.text-section p {
  color: #666;
  font-size: 16px;
  margin: 20px 0;
  line-height: 25px;
}

.explore-button {
  background-color: #39DB4A;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.services-section {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  left: 50%;
  margin-bottom: 100px;
}

.service-card {
  background-color: #ffff;
  max-width: 150px;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card i {
  font-size: 36px;
  color:  #5FE26C;
  margin-bottom: 10px;
}

.service-card h3 {
  color: #5FE26C;
  font-size: 18px;
  margin: 10px 0;
}

.service-card p {
  color: #5FE26C;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .service-container {
    width: 100%;
  }
  .text-section {
    max-width: 50%;
  }
  .services-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .service-container {
    padding:  0.5rem; 
    margin-top: -10rem;
    position: relative;
    left: 12%;
    flex-direction: column;
    align-items: center;
  }
  .text-section {
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2;
  }
  .explore-button{
    font-size: 1.6rem;
    padding: 10px 40px;
  }
  .services-section {
    position: relative;
    left: 9%;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 0; 
  }
  .service-card{
    width: 500px;
    height: 200px;
    font-size: 3rem;
  }
  .text-section h1{
    font-size: 3rem;
  }
  .text-section h2{
    font-size: 1.4rem;
  }
  .text-section p{
    font-size: 1.5rem;
  }
  .service-card {
    max-width: 50%;
    margin-bottom: 10px; 
  }
}