

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.testimonial-section {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 40px;
  gap: 400px;
}

.bg-chef-image{
  background-color:  #53EC62;
  height: 262px;
  border-radius: 140px 140px 41px 41px;
}

.chef-image {
  position: relative;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chef-image img {
  width: 300px;
  height: auto;
  margin-top: -209px;
}

.pizza{
  position: absolute;
  font-size: 26px;
  transform: rotate(17.03deg);
  left: 110%;
}

.emoji{
  position: absolute;
  font-size: 26px;
  transform: rotate(-50.03deg);
  left: -8%;
}


.chef-image > .emoji {
  order: 1;
}

.chef-image > img {
  order: 2;
}

.chef-image > .pizza {
  order: 3;
}

.testimonial-content {
  max-width: 400px;
  padding-left: 200px;
  padding-bottom: 100px;
  text-align: left;
  line-height: 100px;
}

.testimonial-content h2 {
  color: #ff6f61;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.testimonial-content h1 {
  color: #333;
  font-size: 32px;
  margin: 10px 0;
  font-weight: 700;
}

.testimonial-content p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
}

.customer-feedback {
  display: flex;
  align-items: center;
}

.customer-feedback img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.customer-feedback .rating {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.customer-feedback .rating i {
  color: #ff6f61;
  margin-right: 5px;
}

.rating > span {
  margin-left: 8px; 
}


/* Media queries for responsiveness */

/* Large screens (desktops) */
@media (min-width: 1200px) {
  .chef-img img {
    width: 100px;
    height: 100px;
  }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .chef-img img {
    width: 80px;
    height: 80px;
  }
}

/* Small screens (mobiles) */
@media (max-width: 767px) {
  .bg-chef-image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    top: 20%;
    left: 34%;
    height: 180px;
    margin-bottom: 2rem;
  }
  .chef-image img {
    position: relative;
    left: 12px;
    width: 180px;
    height: auto;
  }
  .testimonial-content {
    position: relative;
    right: 28%;
    bottom: 30%;
    max-width: 300px;
    padding-left: 100px;
    padding-bottom: 50px;
    text-align: center;
  }
  .testimonial-content h1 {
    font-size: 24px;
  }
  .testimonial-content p {
    font-size: 14px;
  }
  .rating{
    line-height: 1.5;
    
  }
}
